<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css" integrity="sha512-x9WwyMYBnlXMNQ6kQ/Lyzu1NqIhLQKL5Oq6xByfXuRj7s9CskyCbLv/1IjqzJmXwFXWr0ov6jBV7Qbc0hh9nHg==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body id="warningbody">
    <BR><BR><BR>
        <i class="fa-solid fa-triangle-exclamation"></i>
    <h3 id="headstail"> <strong id="warning">Warning </strong>: Only admin is allowed</h3>
    <BR><BR>
    <div id="adminWarning">
        <i class="fa-solid fa-lock"></i>
        <BR>
    <p>Login as Admin</p>
    <a href="{% url 'AdminAuthentication' %}"><i class="fa-solid fa-link"></i>   Admin</a>
    </div>
</body>
</html>