<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendence Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <p>Enter the following credentials</p>
    <form method="POST" action="{% url 'getAttenDate' %}">
        {% csrf_token %}
        <BR><BR><BR><BR>
        {{att.as_p}}
        <button type="submit">Enter</button>
    </form>
</body>
</html>