<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <p>Enter the following credentials</p>
    <br>
    <form method="POST" action="{% url 'GetCourseData'%}">
        {% csrf_token %}
        {{course.as_p}}
        <button type="submit">Enter Course</button>
    </form>
</body>
</html>