<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Edit Courses</h1>
    <BR><BR><BR><BR>
    <form method="POST" enctype="multipart/form-data" action="{% url 'editCourses' id=id %}">
        {% csrf_token %}
        {{Cform}}
        <button type="submit">Save changes</button>
    </form>
</body>
</html>