<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Teacher</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Edit Teachers</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url 'EditTeachers' id=id %}">
        {% csrf_token %}
        {{Tform.as_p}}
        <button type="submit">Save changes</button>
    </form>
</body>
</html>