<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css" integrity="sha512-x9WwyMYBnlXMNQ6kQ/Lyzu1NqIhLQKL5Oq6xByfXuRj7s9CskyCbLv/1IjqzJmXwFXWr0ov6jBV7Qbc0hh9nHg==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <div class="urls">
        <a href="{% url 'Addmission' %}"><i class="fa-solid fa-star"></i>  Enroll</a>
        <BR><BR><BR>
        <a href="{% url 'ShowUserCourses' %}"><i class="fa-solid fa-star"></i>  Courses </a>
        <BR><BR><BR>
        <a href="{% url 'showAllTeachersForUser' %}"><i class="fa-solid fa-star"></i>  Teachers</a>
        <BR><BR><BR>
        <a href="{% url 'showWhyChooseUs' %}"><i class="fa-solid fa-star"></i>  About</a>
        <BR><BR><BR>
        <a href="{% url 'ShowContactInfo' %}"><i class="fa-solid fa-star"></i>  Contact</a>
    </div>
    <h1  style="position:absolute;top:30px;left:180px"><i class="fa-solid fa-phone"></i>  Contact Us</h1>
    <hr style="width:1000px;position:absolute;top:100px;left:180px;color:blue">
    <div class="contacts">
    {% for contact in contacts %}
        <p><i class="fa-solid fa-star-half-stroke"></i>  Academy Address : {{contact.AcademyAddress}}</p>
        <p><i class="fa-solid fa-star-half-stroke"></i>  Phone Number : {{contact.phone_Number}}</p>
        <p><i class="fa-solid fa-star-half-stroke"></i>  Email : {{contact.Email}}</p>
        <p><i class="fa-solid fa-star-half-stroke"></i>  Opening Hours : {{contact.OpeningHours}}</p>
    {% endfor %}
    </div>
</body>
</html>