<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Data Links</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css" integrity="sha512-x9WwyMYBnlXMNQ6kQ/Lyzu1NqIhLQKL5Oq6xByfXuRj7s9CskyCbLv/1IjqzJmXwFXWr0ov6jBV7Qbc0hh9nHg==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <div class="stdurls">
        <a href="{% url 'studentForms' %}"><i class="fa-solid fa-star"></i>  Enter your Data</a>
    <BR><BR><BR>
    <a href="{% url 'showStudentData' %}"><i class="fa-solid fa-star"></i> Your data</a>
    <BR><BR><BR>
        <a href="{% url 'allsubjects' %}"><i class="fa-solid fa-star"></i> Subjects data</a>
    <BR><BR><BR>
        <a href="{% url 'allTeacherData' %}"><i class="fa-solid fa-star"></i>  Teachers Data</a>
    </div>
    <h1 style="position:absolute;top:20px;left:180px;"><i class="fa-solid fa-user-graduate"></i>  Teacher Data Links</h1>
    <hr  style="position:absolute;top:90px;left:180px;color:darkblue;width:900px;height:2px;background-color:darkblue"> 
    <div id="motherTeacherUrl">
    {% for t in teacher %}
    <div class="teacherUrl">
        <BR><BR><BR>
        <a href="{% url 'showTeacherData' id=t.id %}"><i class="fa-solid fa-link"></i>  Teacher : {{t.Teacher_name}}</a>
    </div>
    <BR><BR>
    {% endfor %}
    </div>
</body>
</html>